main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0px;
  }

#HeroSection {
    border: 3px solid var(--color-accent);
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

#HeroSection h3 {
    margin-top: 30px;
    justify-self: flex-end;
}

#HeroSection h3 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 40px;

    text-decoration: none;
    background-color: var(--color-accent);
}

#HeroSection h3 a:hover {
    cursor: pointer;
    background-color: var( --color-accent-hover);
}

#CategoriesSection {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
}

#CategoriesSection ul {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 40px;
    margin: 0;
    padding: 20px;
    list-style: none;
    width: 600px;
}

#CategoriesSection ul li {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#CategoriesSection ul li a {
    border: 2px solid black;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: black;
    text-decoration: none;
}

#CategoriesSection ul li span {
    cursor: default;
    margin-top: 20px;
}

#CategoriesSection ul li a:hover + span {
    color: var(--color-accent);
    text-decoration: underline;
}