header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    height: 60px;

    /* Colors */
    border-bottom: 1px solid var( --color-border);
    background-color: var( --color-bg-dark);
    color: var(--color-text-primary);
}

header h2 {
    margin: 0;
    font-size: 32px;
}

header h2 a {
    text-decoration: none;
    color: var(--color-text-primary);
}

header ul {
    /* border: 1px solid blue; */
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    /* height: 60px; */
    text-align: center;

}

header ul li {
    list-style: none;
    margin: 0;
}

header ul li a {
    background-color:var(--color-accent);
    text-decoration: none;
    height: 60px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a:hover {
    cursor: pointer;
    background-color: var(--color-accent-hover);

}


div.cartItemsNumber {
    display: none;
}

div.cartItemsNumber.show {
    display: block;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    position: absolute;
    transform: translate(60%, -70%);
    color: var(--color-text-primary);
    background-color: var(--color-bg-dark);
    width: 20px;
    height: 16px;
    font-size: 12px;
    text-align: center;
}


div.modal.show {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: 3px solid var(--color-accent);
    background-color: var(--color-bg-dark);
    color: var( --color-text-primary);
  
    padding: 16px 24px;
    border-radius: 8px;
  
    z-index: 9999;
  }